{% extends "base.html" %}

{% block content %}


<style>
.centerCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="card centerCenter" style="width: 40%;">
    <div class="card-body">
      <h5 class="card-title">Welcome To Jeopardy</h5>
      <h6 class="card-subtitle mb-2 text-muted">Username: user, Password: password</h6>

      

      <form method="post">

        <input type="hidden" name="formName" value="Login">

        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email" value="user">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" value="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>

       

        <!-- <form method="post">
            <input type="hidden" name="formName" value="Register">
            <button type="submit" class="btn btn-primary">Register</button>
        </form> -->

        <br>to do add a register field

      </form>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
              {{ message }}
          </div>              
        {% endfor %}
        
      {% endif %}
    {% endwith %}

    </div>
</div>

{% endblock %}