{% extends "base.html" %}

{% block content %}


MYABE HAVE SOMETHING THAT SAYS "SURPRISE ME WITH SOME RANDOM QUESTIONS"

<div class="card centerCenter" style="width: 60%; top:40%;">
    <div class="card-header text-center">
        <h1>Search For Questions</h1>
    </div>
    <div class="card-body">

        <form class="needs-validation" method="post">

            <input type="hidden" name="formName" value="Login">

            <div class="form-group">
                <label for="exampleInputEmail1">Enter a Category</label>
                <input required type="text" class="form-control" name="username" aria-describedby="emailHelp"
                    placeholder="Example: 'Movies'">
                    <div class="invalid-feedback">
                            Fill out
                          </div>
            </div>

            <label>Value</label>
            <select class="custom-select">
                <option value="0">Any</option>
                <option value="1">100</option>
                <option value="2">200</option>
                <option value="3">300</option>
                <option value="4">400</option>
                <option value="5">500</option>
            </select>

            <br><br>

            <script>
                $(function () {
                    $("#datepicker").datepicker();
                });

                //for the date range
                $(function () {
                    $('input[name="datetimes"]').daterangepicker({
                        timePicker: true,
                        startDate: moment().startOf('hour'),
                        endDate: moment().startOf('hour').add(32, 'hour'),
                        locale: {
                            format: 'M/DD hh:mm A'
                        }
                    });
                });
            </script>


            <label>Select a Date Range</label><br>

            <input type="text" disabled class="form-control" name="datetimes">
            <span class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Disable Range
                </label>
            </span>

            <br><br>

            <button type="submit" class="btn btn-primary">Search</button>
            <button type="submit" class="btn btn-primary">Give Me Some Ranom Question</button>


        </form>

    </div>
    <div class="card-footer text-muted">
        <!-- Powered by Jservice.io -->
    </div>
</div>

{% endblock %}