{% extends "base.html" %}

{% block content %}


<!-- should have a search form or something here -->

categories that are similar to searrch "insert search"
up here add a drop down list that contains a list of all the different categorry that matched

{% for question in results %}

        <div class="card" style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%;">
            <div class="card-header">
                <h5 class="card-title">Category: {{ question.category.title }}</h5>
                <h6 class="card-title">Air-Date: {{ question.airdate }}</h6>

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Show More Info
                </button>
            </div>
            <div class="collapse show" id="collapseExample">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Add to Favorites</a>
                </div>
            </div>
        </div>

{% endfor %}


{% endblock %}