{% extends "base.html" %}

{% block content %}

<style>
    body {
        background-color: #85dcb8;
        transition: background-color 0.5s ease;

    }
</style>

<script>

    function pageAnimation(nextPage) {

        if (nextPage == "search") {
            document.body.style.backgroundColor = "#E8A87C";

            $("#menu").fadeOut(duration = 200, queue = false, function () {
                window.open("{{url_for("search")}}", "_self")
            });
        }

        if (nextPage == "play") {
            document.body.style.backgroundColor = "#41b3a3";

            $("#menu").fadeOut(duration = 200, queue = false, function () {
                window.open("{{url_for("jeopardySetup")}}","_self");
            });
        }

        if (nextPage == "fav") {

            document.body.style.backgroundColor = "#C38D9E";

            $("#menu").fadeOut(duration = 200, queue = false, function () {
                window.open("{{url_for('viewFavorites')}}","_self")
            });

        }



    }

</script>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="menu" class="container centerCenter">
    <div class="row">
        <div class="col-sm">


            <div class="card">
                <div class="card-header">
                    Browse Question Database
                </div>
                <div class="card-body">

                    <h5 class="card-title">Search over 18,000 Categories</h5>

                    <h6 class="card-subtitle mb-2 text-muted">

                        <ul>
                            <li>
                                Category Title
                            </li>
                            <li>
                                Points Value
                            </li>
                            <li>
                                Date Range
                            </li>
                            <li>
                                Randomize
                            </li>
                        </ul>


                    </h6>
                    <p class="card-text">


                    </p>

                    <button type="button" onclick='pageAnimation("search");' class="btn btn-primary">Search</button>

                </div>
            </div>

        </div>

        <div class="col-lg" style="padding-left-right: 10px;">
            <div class="card">
                <div class="card-header">
                    Play Jeopardy
                </div>

                <div class="card-body">

                    <h5 class="card-title">Setup Your Custom Jeopardy Game</h5>

                    <h6 class="card-subtitle mb-2 text-muted">

                        <ul>
                            <li>
                                Add Categories To Game Board
                            </li>
                            <li>
                                Randomize Categories
                            </li>
                            <li>
                                Full Layout Simulation
                            </li>
                            <li>
                                Already Seen Clues automatically Disable
                            </li>
                        </ul>

                    </h6>


                    <button type="button" onclick='pageAnimation("play");'
                        
                        class="btn btn-primary">Play</button>


                </div>
            </div>


        </div>

        <div class="col-sm">

            <div class="card">
                <div class="card-header">
                    View Favorites
                </div>
                <div class="card-body">
                    <h5 class="card-title">View Favorites</h5>

                    <h6 class="card-subtitle mb-2 text-muted">

                        <ul>
                            <li>
                                Browse Through Favorites
                            </li>
                            <li>
                                Specific to logged in User
                            </li>
                            <br>
                            <br>

                        </ul>

                    </h6>
                    <button type="button" onclick='pageAnimation("fav");'
                        class="btn btn-primary">Search</button>

                </div>
            </div>


        </div>
    </div>
</div>




{% endblock %}