{% extends "base.html" %}

{% block content %}

<style>
        body {
            background-color: #C38D9E;
            transition: background-color 0.5s ease;
    
        }
    </style>

<!-- should have a search form or something here -->

<!-- categories that are similar to searrch "insert search"
up here add a drop down list that contains a list of all the different categorry that matched -->


{% for question in results %}
<br><br>
        <div class="card" style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%;">
            <div class="card-header">
                
                

                <h1><span class="badge badge-secondary">{{ question.category.title }}</span></h1>

                <span style="font-size: 110%;"class="badge badge-secondary">{{ question.value}}</span>
                <span style="font-size: 110%;" class="badge badge-secondary">{{ question.airdate}}</span>



            </div>
            <div class="collapse show" id="collapseExample">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    <p class="card-text">{{question.answer}}</p>

                </div>
            </div>
        </div>

{% endfor %}


{% endblock %}