{% extends "base.html" %}

{% block content %}


<!-- should have a search form or something here -->

<!-- categories that are similar to searrch "insert search"
up here add a drop down list that contains a list of all the different categorry that matched -->

<script>

function goToPage(page, element) {
    
    url = window.location.href;
    newUrl = url.replace("page={{currentPage}}", "page=" + page);
    element.href = newUrl;

}

</script>

<br><br>
<div id="outer">  
        <div id="inner">

                <nav aria-label="Page navigation example">
                        <h4>Page: {{currentPage + 1}}</h4>
                        <ul class="pagination">

                            {% if not currentPage == 0 %}
                                <li class="page-item"><a class="page-link" onclick="goToPage('{{currentPage - 1}}', this)" href="" >Previous</a></li>
                            {% endif %}


                          <li class="page-item"><a class="page-link" href="" onclick="goToPage('0', this)" >1</a></li>


                          <!-- <li class="page-item"><a class="page-link" href="#">{{currentPage + 1}}</a></li> -->


                          <li class="page-item"><a class="page-link" href="" onclick="goToPage('{{pages-1}}', this)">{{pages}}</a></li>

                          {% if not currentPage + 1 == pages %}
                          <li class="page-item"><a class="page-link" href="" onclick="goToPage('{{currentPage + 1}}', this)">Next</a></li>
                            {% endif %}

                        </ul>
                      </nav>

        </div>
    </div>



{% for question in results %}
        <div class="card" style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%;">
            <div class="card-header">
                
                <!-- <h5 class="card-title">Category: {{ question.category.title }}</h5>
                <h6 class="card-title">Air-Date: {{ question.airdate }}</h6> -->

                <h1><span class="badge badge-secondary">{{ question.category.title }}</span></h1>

                <span style="font-size: 110%;"class="badge badge-secondary">{{ question.value}}</span>
                <span style="font-size: 110%;" class="badge badge-secondary">{{ question.airdate}}</span>



                <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Show More Info
                </button> -->

            </div>
            <div class="collapse show" id="collapseExample">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    <p class="card-text">{{question.answer}}</p>


                    <form method="post">
                        <input type="hidden" name="data" value="{{ question }}">
                        <button type="submit" class="btn btn-primary">Add to Favorites</button>
                    </form>


                </div>
            </div>
        </div>

{% endfor %}


{% endblock %}